

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
}

.container{
    display: flex;
    width: 90vw;
    justify-content:space-around;
    margin: auto;
}

.panel{
    height: 80vh;
    border-radius: 44px;
    background-position: center;
    background-size: cover;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s;
}

.panel h3{
    font-size: 17;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: opacity 2s 0.4s;
    /*                  time ,delay */
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity: 1;
}

@media(max-width : 680px){
    .container{
        width: 100vw;
    }

    .panel:nth-last-of-type(4), .panel:nth-last-of-type(4){
        display: none;
    }
}

